html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-section {
  padding: 10px 0 0 20px;
}

.notDone {
  z-index: 10;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  text-decoration: underline;
  padding: 10px;
  text-decoration-color: red;
}

.notDone.notWhite {
  background-color: red;
  color: white;
  text-decoration-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
