.container {
  background: #4fff2f63;
  padding: 50px;
}

.container h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.parent {
  width: 50%;
  margin: 0 auto;
  min-height: 200px;
  border: 3px solid green;
  border-radius: 10px;
}

.container p {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid black;
}