.container {
  background: #ffc800;
}

.container h1 {
  text-align: center;
  font-size: 75px;
  text-transform: uppercase;
  margin: 25px;
}

.field {
  width: 55%;
  margin: 0 auto;
}

.hole {
  width: 30%;
  height: 200px;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hole .holeImg {
  width: 234px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 1000;
}

.hole .mole {
  width: 190px;
  left: 35px;
  position: absolute;
  transition: 0.4s;
  top: 87%;
}

.active {
  top: 0 !important;
  transition: 0.4s;
}